<div>
  <header class="bg-blue-900 w-[100vw] h-16 fixed">
    <div class="flex p-5 justify-between">
      <div class="text-white itailc"> ClientBook</div>    
      <div>
      <button (click)="CreateClientDialog()" class="bg-red-500 p-2 rounded-lg"> Create Client</button>     
      <button (click)="CreatePhoneDialog()" class="bg-red-500 p-2 rounded-lg"> Create Phone</button>
      <button (click)="ClientList()" class="bg-red-500 p-2 rounded-lg"> Client list</button>
      <button (click)="ClientPhone()" class="bg-red-500 p-2 rounded-lg"> Phone list</button>
      <button (click)="OldPhonelist()" class="bg-red-500 p-2 rounded-lg"> Old phone list</button>
    </div>
  </div>
    
     </header>
   <div class=" w-[100vw] h-[100vh] bg-blue-950 flex justify-end ">
        <div class="mt-[65px]  h-[90vh]  w-[60vw] bg-slate-600  bg-opacity-3">                       
          <div *ngIf="clientList" class="flex justify-center">
              <p class="text-2xl font bold">Таблица Клиентов</p>
          </div>
             <div  *ngIf="clientList" >
                  <div class=" flex  justify-around">
                      <p>Id</p>
                      <p>Full Name</p>
                      <p>Inn</p>
                      <p>date Birth</p>
                      <p>created date</p>                
                  </div> 
                  <div class="border-4 solid">
                  <app-clientcomponet *ngFor="let client of clients" [client]="client" ></app-clientcomponet>
                  </div>
            </div>    
            <div *ngIf="phoneList" class="flex justify-center">
              <p class="text-2xl font bold">Таблица Телефонов</p>
          </div>                                                                                 
            <div *ngIf="phoneList">
                  <div class=" grid grid-cols-6 ">
                    <div>Id</div>
                    <div> Number</div>
                    <div>Type Number</div>
                    <div>Full Name</div>                    
                </div> 
                <div class="border-4 solid">
                <app-phone *ngFor="let phone of phones" [phone]="phone" [closeDialog]="closeEvent" (CloseDialogsEvent)="CloseAllDialogs()"></app-phone>
                </div>
            </div>
            <div *ngIf="oldphoneList" class="flex justify-center">
              <p class="text-2xl font bold">Таблица Старых Телефонов</p>
          </div>   
            <div *ngIf="oldphoneList">
              <div class=" grid grid-cols-4">                
                <div> Number</div>
                <div>Type Number</div>
                <div>Full Name</div>                    
                <div>Operation</div>  
             </div> 
              <div class="border-4 solid">
              <app-oldphone *ngFor="let oldphone of oldphones" [oldphone]="oldphone"></app-oldphone>
              </div>
        </div>
        </div>
              
        <div *ngIf="createClient" class="absolute left-[10%] top-[20%] bg-white h-[400px] w-[400px] rounded-lg"> 
          <div class="flex justify-center text-2xl font-bold">
            Create Client
          </div>
          <form #clientForm="ngForm" class="flex flex-col space-y-5 h-[400px]">
            <label>ФИО</label>
            <input 
              [(ngModel)]="client.fullName" 
              name="fullName" 
              required 
              minlength="8"
              class="border-2 solid border-black rounded-lg"
              #fullName="ngModel">
            <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="text-red-500">
              <div *ngIf="fullName.errors?.required">ФИО обязательно для заполнения.</div>
              <div *ngIf="fullName.errors?.minlength">ФИО должно быть не менее 8 символов.</div>
            </div>
        
            <label>INN</label>
            <input 
              [(ngModel)]="client.inn" 
              name="inn" 
              required 
              pattern="^[0-9]{14}$" 
              class="border-2 solid border-black rounded-lg"
              #inn="ngModel">
            <div *ngIf="inn.invalid && (inn.dirty || inn.touched)" class="text-red-500">
              <div *ngIf="inn.errors?.required">ИНН обязателен для заполнения.</div>
              <div *ngIf="inn.errors?.pattern">ИНН должен состоять из 14 цифр.</div>
            </div>
        
            <label>Дата рождения</label>
            <input 
              [(ngModel)]="client.dateOfBirth" 
              type="date" 
              name="dateOfBirth" 
              required 
              class="border-2 solid border-black rounded-lg"
              #dateOfBirth="ngModel">
            <div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)" class="text-red-500">
              <div *ngIf="dateOfBirth.errors?.required">Дата рождения обязательна для заполнения.</div>
            </div>
        
            <button 
              class="bg-red-500 p-2 rounded-lg"
              [disabled]="clientForm.invalid" 
              (click)="CreateClient(client)">
              Создать
            </button>
          </form>
        </div>
        
      
<div *ngIf="createPhone" class="absolute left-[10%] top-[20%] bg-white h-[400px] w-[400px] rounded-lg"> 
  <div class="flex justify-center text-2xl font-bold">
    Create Phone
  </div>
  <form #phoneForm="ngForm" class="flex flex-col space-y-5 h-[400px]">
    <label>Номер телефона</label>
    <input 
      type="number" 
      [(ngModel)]="phone.number" 
      name="number" 
      required 
      pattern="^[0-9]{9}$" 
      class="border-2 solid border-black rounded-lg"
      #number="ngModel">
    <div *ngIf="number.invalid && (number.dirty || number.touched)" class="text-red-500">
      <div *ngIf="number.errors?.required">Номер телефона обязателен для заполнения.</div>
      <div *ngIf="number.errors?.pattern">Номер телефона должен состоять из 9 цифр.</div>
    </div>

    <label>Тип номера</label>
    <select 
      [(ngModel)]="phone.typeNumber" 
      name="typeNumber" 
      required 
      class="border-2 solid border-black rounded-lg outline-none"
      #typeNumber="ngModel">
      <option selected value="HOME">home</option>
      <option value="MOBILE">mobile</option>
      <option value="WORK">work</option>
    </select>
    <div *ngIf="typeNumber.invalid && (typeNumber.dirty || typeNumber.touched)" class="text-red-500">
      <div *ngIf="typeNumber.errors?.required">Тип номера обязателен для заполнения.</div>
    </div>

    <label>ИНН</label>
    <input 
      type="number" 
      [(ngModel)]="phone.clientInn" 
      name="clientInn" 
      required 
      pattern="^[0-9]{14}$" 
      class="border-2 solid border-black rounded-lg"
      #clientInn="ngModel">
    <div *ngIf="clientInn.invalid && (clientInn.dirty || clientInn.touched)" class="text-red-500">
      <div *ngIf="clientInn.errors?.required">ИНН обязателен для заполнения.</div>
      <div *ngIf="clientInn.errors?.pattern">ИНН должен состоять из 14 цифр.</div>
    </div>

    <button 
      class="bg-red-500 p-2 rounded-lg" 
      [disabled]="phoneForm.invalid" 
      (click)="CreatePhone(phone)">
      Создать
    </button>
  </form>
</div>
   </div>
   
</div>